/* c-bg-link
-----------------------------------------------
------------------ */
@use "../../global" as g;

.c-bg-link {
  display: block;
  width: 100%;
  aspect-ratio: 218/311;
  position: relative;
  z-index: 0;

  @media print,
  screen and (max-width: 1035px) {
    width: 100%;
    height: auto;
    aspect-ratio: 375/187.36;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(25, 33, 97, .46);
    }
  }

  &:hover,
  &:focus {
    .c-bg-link__bg img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  &__texts {
    text-align: center;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding-top: 35px;
  }

  &__title-main {
    font-size: g.cls(16, 20);
    line-height: 1;
    font-family: "bodoniXT", serif;
  }

  &__title-sub {
    font-size: 10px;
    letter-spacing: 0.2em;
    margin-top: 3.5px;
    @include g.tabletS {
      margin-top: 8px;
    }
  }

  &.c-bg-link--mansions {
    .c-bg-link__title-sub {
      letter-spacing: 0.2em;
    }
  }
}
